:root {
  /* brand */
  --text-hover: #df3b3b;
  --text-selected: #dfc43b;

  /* theme background */
  --bg-image: url('../images/bg-black_figure.webp');
  --bg-color: #000000b3;

  /* glass */
  --glass-bg: #d9d9d90d;
  --glass-dark: #000000b3;
  --glass-shadow: #00000066;
  --glass-border: #ffffff0f;

  /* ✅ mood text tokens */
  --text-main: #f2f2f2db;
  --text-sub: #f2f2f2a8;
  --text-muted: #f2f2f275;

  /* borders/lines */
  --line-soft: #ffffff1a;

  /* small UI */
  --scrollbar-thumb: #f2f2f240;
  --scrollbar-thumb-hover: #df3b3b8c;

  --search-icon: url('../icon/search_dark.svg');

  /* folder color palette */
  --folder-c1: #ff6b6b; /* coral red */
  --folder-c2: #ffb020; /* warm amber */
  --folder-c3: #ffe066; /* yellow */
  --folder-c4: #51cf66; /* green */
  --folder-c5: #4dabf7; /* blue */
  --folder-c6: #ff7ac7; /* pink */
  --folder-c7: #a966f1; /* purple */
  --folder-c8: #464646; /* gray */
  --folder-c9: #edebe8; /* white */
  --folder-c10: #e30000; /* impressive red */
}

/* =========================
   Theme overrides
========================= */
html[data-theme='default'] {
  --bg-image: url('../images/bg-black_figure.webp');
  --bg-color: #000000b3;

  --glass-bg: #d9d9d90d;
  --glass-dark: #000000b3;
  --glass-shadow: #00000066;
  --glass-border: #ffffff0f;

  --text-main: #f2f2f2db;
  --text-sub: #f2f2f2a3;
  --text-muted: #f2f2f270;
  --line-soft: #ffffff1a;

  --search-icon: url('../icon/search_dark.svg');
}

html[data-theme='dark'] {
  --bg-image: url('../images/bg-black_some.webp');
  --bg-color: #000000d1;

  --glass-bg: #ffffff0a;
  --glass-dark: #000000c7;
  --glass-shadow: #0000008c;
  --glass-border: #ffffff14;

  --text-main: #f0f0f0d1;
  --text-sub: #f0f0f099;
  --text-muted: #f0f0f06b;
  --text-selected: rgb(0, 215, 176);
  --text-hover: rgb(0, 140, 210);
  --line-soft: #ffffff14;

  --search-icon: url('../icon/search_dark.svg');
}

html[data-theme='bed'] {
  --bg-image: url('../images/bg-bed.webp');
  --bg-color: #000000ad;

  --glass-dark: rgba(255, 255, 255, 0.72);
  --glass-bg: rgba(255, 255, 255, 0.38);
  --glass-shadow: rgba(18, 6, 23, 0.18);
  --glass-border: rgba(0, 0, 0, 0.1);

  --text-main: rgba(21, 21, 21, 0.92);
  --text-sub: rgba(40, 39, 40, 0.72);
  --text-muted: rgba(35, 33, 36, 0.48);
  --text-selected: rgb(186, 143, 1);
  --text-hover: rgb(98, 51, 1);
  --line-soft: rgba(0, 0, 0, 0.1);

  --search-icon: url('../icon/search_light.svg');
}
html[data-theme='snow'] {
  --bg-image: url('../images/bg-snow.webp');
  --bg-color: #000000ad;

  --glass-dark: rgba(255, 255, 255, 0.72);
  --glass-bg: rgba(255, 255, 255, 0.38);
  --glass-shadow: rgba(18, 6, 23, 0.18);
  --glass-border: rgba(0, 0, 0, 0.1);

  --text-main: rgba(21, 21, 21, 0.92);
  --text-sub: rgba(40, 39, 40, 0.72);
  --text-muted: rgba(35, 33, 36, 0.48);
  --text-selected: rgb(116, 20, 71);
  --text-hover: rgb(8, 81, 63);
  --line-soft: rgba(0, 0, 0, 0.1);

  --search-icon: url('../icon/search_light.svg');
}

html[data-theme='hologram'] {
  --bg-image: url('../images/bg-hologram.webp');

  --bg-color: #00000099;

  --glass-dark: rgba(255, 255, 255, 0.72);
  --glass-bg: rgba(255, 255, 255, 0.38);
  --glass-shadow: rgba(18, 6, 23, 0.18);
  --glass-border: rgba(0, 0, 0, 0.1);

  --text-main: rgba(45, 42, 46, 0.92);
  --text-sub: rgba(45, 42, 46, 0.72);
  --text-muted: rgba(45, 42, 46, 0.48);
  --text-hover: rgb(115, 0, 192);
  --text-selected: rgb(172, 0, 123);
  --line-soft: rgba(0, 0, 0, 0.1);

  --search-icon: url('../icon/search_light.svg');
}
